@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-pri: #131313;
    --color-sec: #FFFFFF;
    --color-acc: #DA2E20;
    --color-blk: #000000;

    --color-title: #FFFFFF;
    --color-subtitle: #878787;
    --color-content: #DADADA;
    --color-socials: #5A5A5A;

    --font-header: 'Source Serif Pro', serif;
    --font-paragraph: 'Source Sans Pro', sans-serif;
}

header {
    background-color: var(--color-blk);
}

.accent-line {
    background-color: var(--color-acc);
    width: 100vw;
    height: 5px;
}

.logo {
    width: 155px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-left: .7em;
}

.donate {
    display: flex;
    flex-direction: row;
    gap: .5em;

    padding-left: .7em;
    padding-right: .7em;

    padding-top: .9em;
    padding-bottom: .9em;

    background-color: #262626;
    color: #F3F3F3;

    align-items: center;
}

.donate a {
    font-family: var(--font-paragraph);
    font-size: 15px;
    font-weight: 400;

    text-decoration: none;
    letter-spacing: .05em;

    color: #F3F3F3;
}

.player-container {
    width: 100vw;
    height: 22em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;

    background-color:hsla(28,100%,88%,1);
    background-image:
    radial-gradient(at 47% 92%, hsla(11,91%,69%,1) 0px, transparent 50%),
    radial-gradient(at 63% 93%, hsla(28,81%,70%,1) 0px, transparent 50%),
    radial-gradient(at 4% 8%, hsla(357,79%,60%,1) 0px, transparent 50%),
    radial-gradient(at 73% 68%, hsla(44,80%,69%,1) 0px, transparent 50%);
}

.content-container {
    text-align: center;

    padding: .5em;
}

.content-container h2 {
    font-family: var(--font-header);
    font-weight: 600;
    font-size: 21px;
    line-height: 1.5rem;

    padding-bottom: 10px;
}

.content-container h4 {
    font-family: var(--font-paragraph);
    font-weight: 400;
    font-size: 12px;

    padding-bottom: 5px;
}

.content-container p {
    font-family: var(--font-paragraph);
    font-weight: 400;
    font-size: 13px;
}

.waveform-player {
    padding-left: .5em;
    padding-right: .5em;

    margin-top: -1em;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

#waveform {
    height: 64px;
    overflow: hidden;
}

#waveform > wave > wave {
    border-right: none !important;
}

.player-controls {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#pauseBtn {
    display: none;
}

.carousel-title {
    border: 2px solid orangered;
    padding-left: .5em;
}

.carousel-title h2, h3 {
    font-family: var(--font-paragraph);
}

.carousel-title h2 {
    margin-top: -.3em;
}

.carousel-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    gap: .2em;
}

.carousel-cards::-webkit-scrollbar {
    display: none;
}

.show {
    border: 2px solid green;
    width: 80%;

    display: flex;
    gap: 5px;
    flex: 0 0 auto;
}

.show img {
    width: 30%;
    padding-left: .5em;
}

.show-details {
    display: flex;
    gap: 8px;
    align-items: center;
}

.show-content p, h3 {
    font-family: var(--font-paragraph);
}

