@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: var(--color-pri);
}

:root {
    --color-pri: #131313;
    --color-sec: #FFFFFF;
    --color-acc: #DA2E20;
    --color-blk: #000000;

    --color-title: #FFFFFF;
    --color-subtitle: #878787;
    --color-content: #DADADA;
    --color-socials: #5A5A5A;

    --font-header: 'Source Serif Pro', serif;
    --font-paragraph: 'Source Sans Pro', sans-serif;
    --font-article: 'Noto Serif', serif;
}

header {
    background-color: var(--color-blk);
}

.accent-line {
    background-color: var(--color-acc);
    width: 100vw;
    height: 5px;
}

.logo {
    width: 155px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-left: .7em;
}

.donate {
    display: flex;
    flex-direction: row;
    gap: .5em;

    padding-left: .7em;
    padding-right: .7em;

    padding-top: .9em;
    padding-bottom: .9em;

    background-color: #262626;
    color: #F3F3F3;

    align-items: center;
}

.donate a {
    font-family: var(--font-paragraph);
    font-size: 15px;
    font-weight: 400;

    text-decoration: none;
    letter-spacing: .05em;

    color: #F3F3F3;
}

main {
    background-color: var(--color-pri);
}

.player-container {
    border: 2px solid green;
    margin: .5em;
    height: 405px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;

    background-color: var(--color-blk);
}

.lead-image {
    border: 2px solid orange;
    height: 210px;
    width: 210px;

    margin-top: 27px;
}

.content-container {
    border: 2px solid purple;
    margin: 28px 12px 28px 12px
}

.content-container h2, h4, p {
    font-size: 12px !important;
    color: var(--color-title);
}

.carousel-title {
    padding: .5em;
}

.carousel-title h2, h3 {
    font-family: var(--font-paragraph);
}

.carousel-title h2 {
    margin-top: -.3em;
    font-size: 21px;
    color: var(--color-title)
}

.carousel-title h3 {
    font-size: 11px;
    color: var(--color-subtitle);
}

.carousel-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: .2em;
}

.carousel-cards::-webkit-scrollbar {
    display: none;
}

.show {
    width: 80%;

    display: flex;
    gap: 5px;
    flex: 0 0 auto;
}

.show img {
    width: 30%;
    padding-left: .5em;
}

.show-content h3, p {
    font-family: var(--font-paragraph);
}

.show-content h3 {
    font-size: 16px;
    color: var(--color-title);
    gap: 7px;
}

.show-content p {
    font-size: 13px;
    color: var(--color-socials);
}

.show-details {
    display: flex;
    gap: 7px;
    align-items: center;
}

.show-details img {
    width: 2%;
    padding: 0;
}

.line-break {
    border-left: 2px solid #272727;
}

hr {
    border: 1px solid #272727;
    margin: 1em .5em .5em .5em;
}